/* .navbarAdminPanel {
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
} */

.containe {
  width: 100%;
  max-width: 1200px;
  min-height: 10px;
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: none;
  margin: 0 auto;
}
.navList {
  width: 100%;
  list-style: none;
  display: flex;
  gap: 60px;
  padding: 15px 30px;
  margin: 0 auto;
  border-radius: 10px;
  background: rgb(211, 196, 150);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border: 1px solid #c89b3c;
  align-items: center;
  justify-content: center;
}

.navList li {
  color: #c68c29;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navList li:hover {
  color: #c89b3c;
  transform: translateY(-2px);
}
.navList a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.navList a li {
  transition: all 0.3s ease;
}

.navList a li:hover {
  color: #c89b3c;
  transform: translateY(-2px);
}
