@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main-page {
  background: url("img/gpt2.png") no-repeat center;
  background-size: contain;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s ease-in-out;
}

.container {
  padding: 20px;
  min-height: 500px;
  width: 1200px;
  background: rgba(218, 202, 168, 0.3);
  border-radius: 15px;
  border: 1px solid #c89b3c;
  place-items: center;
}
.log-out {
  position: absolute;
  margin-bottom: 450px;
  margin-right: 1100px;
  height: 39px;
  width: 39px;
  border-radius: 100px;
  border: none;
  background-color: #c89c3c00;
  cursor: pointer;
}
.log-img {
  border-radius: 8px;
  transition: all 0.3s ease;
}
.log-img:hover {
  transform: translateY(-1px);
  box-shadow: 5px 5px 30px #bfa353;
}
