.main-page {
  background: url("/img/gpt2.png") no-repeat center / cover;
  background-size: contain;
  background-attachment: fixed; /* фиксируем фон */

  width: 100%;
  min-height: 100vh; /* вместо height: 100vh — чтобы фон перекрывал контент при скролле */

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  margin-top: 20px;
  padding: 20px;
  min-height: 500px;
  width: 1200px;
  background: rgba(218, 202, 168, 0.3);
  border-radius: 15px;
  border: 1px solid #c89b3c;
  display: flex;
  flex-direction: column;
}

.top-row {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
}

.log-out {
  height: 39px;
  width: 39px;
  border-radius: 100px;
  border: none;
  background-color: #c89c3c00;
  cursor: pointer;
}

.log-img {
  border-radius: 8px;
  transition: all 0.3s ease;
}

.log-img:hover {
  transform: translateY(-1px);
  box-shadow: 5px 5px 30px #bfa353;
}

.teacher-groups-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* padding: 20px; */
}

.teacher-groups-title {
  /* font-size: 2.5em; */
  font-weight: 700;
  color: #c89b3c;
  margin-bottom: 30px;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

/* .teacher-groups-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
} */

/* .teacher-group-item {
  text-decoration: none;
  color: black;
  display: flex;
  height: 150px;
  width: 250px;
  border: 1px solid #c89b3c;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  font-family: "Noto Sans KR", sans-serif;
  font-size: 17.5px;
  align-items: center;
  justify-content: center;
  color: #bb8d0c;
  transition: all 0.3s ease;
  background: url("/img/bcg.png") no-repeat center;
  background-size: 100% 100%;
} */

/* .teacher-group-item:hover {
  transform: translateY(-1px);
  box-shadow: 5px 5px 30px #bfa353;
  color: #796735;
  cursor: pointer;
} */

@media (max-width: 1220px) {
  .container {
    width: 95%;
  }
}

@media (max-width: 768px) {
  .container {
    margin-top: 10px;
    padding: 15px;
  }
  .main-page {
    background-size: cover;
  }

  .teacher-groups-title {
    font-size: 2em;
    margin-bottom: 20px;
  }

  .teacher-group-item {
    width: 45%;
    height: 120px;
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .teacher-group-item {
    width: 90%;
    margin: 10px auto;
  }
  .teacher-groups-title {
    font-size: 1.8em;
  }
}
