@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.tabs-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  z-index: 999;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s ease-in-out;
}

.tabs {
  background: url("img/bcg.png");
  background-size: auto 100%;

  color: black;
  display: flex;
  height: 100px;
  width: 200px;
  border: 1px solid #c89b3c;
  border-radius: 12px;
  padding: 20px;
  margin: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  font-family: "Noto Sans KR", sans-serif;
  font-size: 17.5px;

  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  z-index: 9;
}
.tabs:hover {
  transform: translateY(-1px);
  box-shadow: 5px 5px 30px #bfa353;
}

.teacher {
  align-self: flex-end;
  color: black;
}
.load {
  color: black;
  justify-content: center;
  align-items: center;
}
