.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-family: "Poppins", sans-serif;
}

.modal-content {
  background: #fef6e3;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 350px;
  max-width: 90%;
  border: 2px solid #c89b3c;
  color: #2e2e2e;
}

.modal-content p {
  font-size: 1.1em;
  margin-bottom: 25px;
  line-height: 1.4;
}

.modal-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  gap: 15px;
}

.confirm-button,
.cancel-button {
  padding: 12px 25px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1em;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.confirm-button {
  background-color: #c89b3c;
  color: white;
}

.confirm-button:hover {
  background-color: #b27f2f;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.cancel-button {
  background-color: #d2c19a;
  color: #333;
}

.cancel-button:hover {
  background-color: #c9b77d;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.password-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #b27f2f;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #fff;
}
