@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.MainPageAdmin {
  background: url("/img/studentsListBCG2.png") no-repeat center center / cover;
  background-size: contain;
  background-color: #fef6e3;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  animation: fadeIn 0.5s ease-in-out;
}

.containerAdmin {
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  border: 2px solid #c89b3c;
  flex-wrap: wrap;
  min-height: 500px;
  background-color: #9a8a6852;
  border-radius: 15px;
}
.createGroup,
.createUser,
.manageGroup,
.sendExsel,
.dataBase {
  text-decoration: none;
  color: black;
  display: flex;
  height: 150px;
  width: 250px;
  border: 1px solid #c89b3c;
  border-radius: 12px;
  padding: 20px;
  margin: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  font-family: "Noto Sans KR", sans-serif;
  font-size: 17.5px;
  align-items: center;
  justify-content: center;
  color: #bb8d0c;
  transition: all 0.3s ease;
  background: url("/img/bcg.png") no-repeat center;
  background-size: 100% 100%;
}
.createGroup:hover,
.createUser:hover,
.manageGroup:hover,
.sendExsel:hover,
.dataBase:hover {
  transform: translateY(-1px);
  box-shadow: 5px 5px 30px #bfa353;
  color: #796735;
  cursor: pointer;
}
