.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    padding: 20px;

    background-color: rgba(255, 255, 255, 0.1);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid var(--color-gray-light);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    backdrop-filter: blur(10px);

    transform: translateX(-100%); /* move off screen */
    opacity: 0;
    transition: transform .4s ease, opacity .4s ease;

    display: flex;
    flex-direction: column;

    z-index: 1000;
}

.sidebar__close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--color-gray-dark);
}

.sidebar.active {
    transform: translateX(0); /* slide into view */
    opacity: 1;
}


.sidebar__header {
    font-size: 20px;
    font-weight: 600;
    color: var(--color-gray-dark);
    text-align: center;
    margin-bottom: 20px;
}

.sidebar__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
}

.avatar {
    display: flex;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    justify-content: center;
    align-content: center;
}

.ico {
    width: 50px;
    height: 50px;
    color: var(--color-gray-dark);
}

.sidebar__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 90%;
}

.sidebar__item a {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    text-decoration: none;
    color: var(--color-gray-dark);
    font-size: 1rem;
    transition: all .2s ease;
    border-left: 4px solid;

    &:hover {
        color: var(--color-accent);
    }
}

.logout-btn {
    margin-top: auto;
}

.logout-btn button {
    width: 100%;
    padding: 12px 20px;
    background: rgba(255, 0, 0, 0.1);
    border: none;
    text-align: left;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    border-left: 4px solid transparent;
    transition: all .5s ease;
    color: #c62828;
    
    &:hover {
        background: rgba(255, 0, 0, 0.2);
    }
}
