.modal-backdrop {
	position: fixed;
	inset: 0;
	/* background: rgba(0,0,0,0.45); */
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.modal-card {
	width: 400px;
	max-width: 90%;
	border-radius: 14px;
	padding: 30px;
	background: rgba(255, 255, 255, 0.06);
	backdrop-filter: blur(12px);
	border: 1px solid rgba(255, 255, 255, 0.15);
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	gap: 20px;
	position: relative;
}

.modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modal-header h2 {
	font-size: 20px;
	font-weight: 600;
	color: var(--color-gray-dark);
}

.close-btn {
	background: transparent;
	border: none;
	cursor: pointer;
	color: var(--color-gray-dark);
	font-size: 22px;
	transition: 0.2s;
}

.close-btn:hover {
	transform: scale(1.1);
	color: var(--color-accent);
}

.modal-form {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.modal-form input,
.modal-form select {
	padding: 12px 15px;
	border-radius: 14px;
	border: 1px solid var(--color-accent);
	background: rgba(255, 255, 255, 0.08);
	color: var(--color-gray-dark);
	font-size: 15px;
	outline: none;
	transition: 0.25s;
}

.modal-form input:focus,
.modal-form select:focus {
	border-color: var(--color-accent);
}

.submit-btn {
	padding: 12px;
	border-radius: 14px;
	border: none;
	background: var(--color-accent);
	color: #fff;
	font-weight: 600;
	cursor: pointer;
	transition: 0.25s;
}

.submit-btn:hover {
	background: rgba(255, 255, 255, 0.15);
	color: var(--color-accent);
	transform: translateY(-2px);
}

.custom-dropdown {
	position: relative;
	padding: 12px 15px;
	border-radius: 14px;
	border: 1px solid var(--color-accent);
	background: rgba(255, 255, 255, 0.08);
	color: var(--color-gray-dark);
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.25s;
	user-select: none;
}

.custom-dropdown:hover {
	border-color: var(--color-accent);
}

.dropdown-selected {
	font-size: 15px;
}

.dropdown-icon {
	transition: transform 0.3s;
}

.dropdown-icon.open {
	transform: rotate(180deg);
}

.dropdown-options {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background: rgba(255, 255, 255, 0.08);
	border-radius: 14px;
	border: 1px solid var(--color-accent);
	backdrop-filter: blur(12px);
	margin-top: 5px;
	overflow: hidden;
	z-index: 10;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(10px);
}

.dropdown-option {
	padding: 12px 15px;
	cursor: pointer;
	transition: 0.2s;
}

.dropdown-option:hover {
	background: rgba(255, 255, 255, 0.15);
	color: var(--color-accent);
}
