.main-wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    background-image: url('/img/main-bg.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /* fallback color */

    justify-content: center;
    align-items: center;
}


.main-content {
    flex-grow: 1;
    padding: 30px 40px;
    position: relative;
    margin: auto;
    overflow: hidden;
    transition: margin-left 0.4s ease;
}

.groups-list {
    position: relative;
    display: flex;
    /* grid-template-columns: repeat(4, 1fr); */
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    max-width: 1400px;
    width: 100%;
}

.group-card {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    border-left: 6px solid var(--color-accent);
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 220px;
}

.group-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.card-group-name {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--color-blue);
    margin-bottom: 5px;
}

.card-teacher-name {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--color-blue);
    /* Muted gray for secondary info */
}

.sidebar-toggle-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 25px;
    height: 25px;
    color: var(--color-blue);
    backdrop-filter: blur(5px);
    border: none;
    border-radius: 10px;
    padding: 10px 12px;
    cursor: pointer;
    font-size: 1.5rem;
    /* z-index: 2000; */
}

@media (max-width: 1200px) {
    .groups-list {
        grid-template-columns: repeat(3, 1fr);
        /* 3 cards per row */
    }
}

@media (max-width: 900px) {
    .groups-list {
        grid-template-columns: repeat(2, 1fr);
        /* 2 cards per row */
    }
}

@media (max-width: 600px) {
    .groups-list {
        grid-template-columns: 1fr;
        /* 1 card per row on small screens */
    }
}