body {
    margin: 0;
}

:root {
    --color-white: #fefefe;
    --color-gray-light: #c5c5c5;
    --color-gray-dark: #333333;
    --color-blue: #34438d;
    --color-accent: #AC5B58;
    --color-green: #28a745;
    --color-red: #dc3545;
    --color-yellow: #ffc107;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    background-color: var(--color-white);

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root::-webkit-scrollbar {
    width: 6px;
}

:root::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

:root::-webkit-scrollbar-track {
    background: transparent;
}